.advantages__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin-top: 5px;
  margin-bottom: 42px;
}

.advantages__item {
  color: #444444;
  padding-left: 80px;
  margin-bottom: 26px;
}

.advantages__list {
  list-style: none;
}
