.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contacts__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  grid: 1 / 2;
}

.contacts__address {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  grid: 2 / 3;
}

.contacts__map {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  background-color: rgb(42, 248, 162);
}
