.error.form__label {
  .form__input {
  outline: 2px solid #FF8282;
  }
}

.error.form__label--email::after {
  background-color: #FF8282;
  }

.error.form__label--phone::after {
  background-color: #FF8282;
}

