.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  position: relative;
  padding: 12px 20px 18px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 31px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}
