.header {
  position: relative;
  padding: 10px 20px 15px;
  line-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;


  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-left: 30px;
    padding-right: 31px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 54px 110px 14px;
    align-items: flex-start;
  }
}
