.hero {
  position: relative;
  color: #ffffff;
  background-image: url("../../img/cat-grey.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(144, 141, 129);
}

.hero__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  }

.hero__slogan::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 302px;
  background-color: rgba(104, 183, 56, 0.85);
}

.hero__slogan::after {
  position: absolute;
  content: "";
  width: 280px;
  height: 270px;
  left: 20px;
  top: 167px;
  background-image: url("../../img/pack-cat-energy.png");
}
