.hero {
  position: relative;
  color: #ffffff;
  background: url("../../img/cat-grey.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hero__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  margin-top: 17px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-right: 15px;
}

.hero__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 300px;
}

.hero::after {
  position: absolute;
  content: "";
  width: 280px;
  height: 270px;
  left: 40px;
  top: 167px;
  background-image: url("../../img/pack-cat-energy.png");
}

