.main-nav__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 22px;
  padding-bottom: 24px;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
