.products {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 141px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.products__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  margin: 0;
  padding: 27px 20px 41px;

  @media (max-width: 767px) {
    border-top: 1px solid #d9d9d9;
  }

  @media (min-width: $tablet-width) {
    padding: 65px 0 22px;
    font-size: 60px;
  }

}
