.program-card {
  position: relative;
  background-color: #f2f2f2;
  padding: 15px 33px 18px 20px;
}

.program-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 15px;
  margin-bottom: 20px;
}

.program-card__description {
  color: #444444;
  margin-top: 9px;
  margin-bottom: 30px;
}

.program-card__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 8px;
  margin-bottom: 18px;
}

.program-card__link::after {
  position: absolute;
  content: "";
  background-image: url("../../img/arrow.svg");
  width: 32px;
  height: 10px;
  left: 100px;
  bottom: 10px;
}
